<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset name="component"
		label="COM_DDCBALANCEIT_OPTIONS"
		description="COM_DDCBALANCEIT_OPTIONS_DESC"
	>

		<field name="required_account" type="radio"
			default="0"
			class="btn-group"
			label="COM_DDCBALANCEIT_REQUIRED_ACCOUNT"
			description="COM_DDCBALANCEIT_REQUIRED_ACCOUNT_DESC">

			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	
	<fieldset name="permissions"
		description="JCONFIG_PERMISSIONS_DESC"
		label="JCONFIG_PERMISSIONS_LABEL"
	>

		<field name="rules" type="rules"
			component="com_ddcbalanceit"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component" />
	</fieldset>
</config>